<div ng-include="'views/header.html'"></div>

<div class="movie">

  <div class="container-movie">
    <figure>
      <img ng-if="!movie.poster_path" src="https://unamo.com/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png" alt="">
      <img ng-if="movie.poster_path" src="https://image.tmdb.org/t/p/w640/{{movie.poster_path}}" alt="">
    </figure>
    <div class="title-movie">
      {{movie.original_title}}
    </div>
  </div>

  <div class="info-movie">
    <h4>SEASONS</h4>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
    </ul>
    <div class="chapters">
      <div class="row">
        <div>
          1
        </div>
        <div>
          The title of movie fsafasfa sfa
        </div>
        <div>
          <div class="check"></div>
        </div>
      </div>
      <div class="row">
        <div>
          1
        </div>
        <div>
          The title of movie fsafasfa sfa
        </div>
        <div>
          <div class="check"></div>
        </div>
      </div>
      <div class="row">
        <div>
          1
        </div>
        <div>
          The title of movie fsafasfa sfa
        </div>
        <div>
          <div class="check"></div>
        </div>
      </div>
      <div class="row">
        <div>
          1
        </div>
        <div>
          The title of movie fsafasfa sfa
        </div>
        <div>
          <div class="check"></div>
        </div>
      </div>
      <div class="row">
        <div>
          1
        </div>
        <div>
          The title of movie fsafasfa sfa
        </div>
        <div>
          <div class="check"></div>
        </div>
      </div>
    </div>

  </div>

</div>
